<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ps4_tools.ps4_pkg_viewer_android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="30" />
	<application android:allowBackup="true" android:icon="@drawable/ps4_tools" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:label="PS4 PKG Viewer"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>